USE [master]
GO

-- 1. KIỂM TRA VÀ TẠO DATABASE MỚI (KHÔNG CẦN ĐƯỜNG DẪN CỐ ĐỊNH)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'pet_hotel')
BEGIN
    ALTER DATABASE [pet_hotel] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [pet_hotel];
END
GO

CREATE DATABASE [pet_hotel]
GO

USE [pet_hotel]
GO

-- 2. TẠO BẢNG (TABLES)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bảng Customers
CREATE TABLE [dbo].[customers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[phoneNumber] [varchar](20) NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

-- Bảng Pets
CREATE TABLE [dbo].[pets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[breed] [nvarchar](255) NULL,
	[gender] [nvarchar](50) NULL,
	[healthStatus] [nvarchar](255) NULL,
	[customer_id] [bigint] NULL,
	[age] [int] NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

-- Bảng Rooms
CREATE TABLE [dbo].[rooms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[status] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

-- Bảng Services
CREATE TABLE [dbo].[services](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[price] [float] NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

-- Bảng Bookings
CREATE TABLE [dbo].[bookings](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[service_id] [bigint] NULL,
	[room_id] [bigint] NULL,
	[pet_id] [bigint] NULL,
	[createTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[note] [varchar](255) NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

-- Bảng Invoices
CREATE TABLE [dbo].[invoices](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NULL,
	[total] [float] NULL,
PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

-- 3. CHÈN DỮ LIỆU MẪU (INSERT DATA)
-- Customers
SET IDENTITY_INSERT [dbo].[customers] ON 
INSERT [dbo].[customers] ([id], [name], [phoneNumber]) VALUES (13, N'admin', N'1')
INSERT [dbo].[customers] ([id], [name], [phoneNumber]) VALUES (14, N'user2', N'2')
INSERT [dbo].[customers] ([id], [name], [phoneNumber]) VALUES (15, N'user3', N'3')
SET IDENTITY_INSERT [dbo].[customers] OFF
GO

-- Pets
SET IDENTITY_INSERT [dbo].[pets] ON 
INSERT [dbo].[pets] ([id], [name], [breed], [gender], [healthStatus], [customer_id], [age]) VALUES (9, N'pet1', N'meo', N'bla', N'bla', 13, 1)
INSERT [dbo].[pets] ([id], [name], [breed], [gender], [healthStatus], [customer_id], [age]) VALUES (10, N'pet2', N'cho', N'bla', N'bla', 13, 2)
INSERT [dbo].[pets] ([id], [name], [breed], [gender], [healthStatus], [customer_id], [age]) VALUES (11, N'pet3', N'meo', N'duc', N'bla', 14, 3)
SET IDENTITY_INSERT [dbo].[pets] OFF
GO

-- Rooms
SET IDENTITY_INSERT [dbo].[rooms] ON 
INSERT [dbo].[rooms] ([id], [name], [status]) VALUES (1, N'phong 1', N'TRONG')
INSERT [dbo].[rooms] ([id], [name], [status]) VALUES (2, N'phong 2', N'TRONG')
INSERT [dbo].[rooms] ([id], [name], [status]) VALUES (3, N'phong 3', NULL)
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO

-- Services
SET IDENTITY_INSERT [dbo].[services] ON 
INSERT [dbo].[services] ([id], [name], [description], [price]) VALUES (1, N'TAM_SAY_CO_BAN', N'tắm massage thư giãn – vắt tuyến hôi – sấy khô phồng lông. ', 360000)
INSERT [dbo].[services] ([id], [name], [description], [price]) VALUES (2, N'COMBO_SPA_9', N'cắt – mài móng, cạo lông lòng bàn chân, cạo lông bụng – vùng vệ sinh, chải lông', 450000)
INSERT [dbo].[services] ([id], [name], [description], [price]) VALUES (3, N'CAT_TIA_TAO_KIEU', N'gồm combo spa 9 bước thơm tho và cắt tỉa – tạo kiểu theo yêu cầu', 550000)
SET IDENTITY_INSERT [dbo].[services] OFF
GO

-- Bookings
SET IDENTITY_INSERT [dbo].[bookings] ON 
INSERT [dbo].[bookings] ([id], [service_id], [room_id], [pet_id], [createTime], [endTime], [note]) VALUES (12, 3, 2, 9, CAST(N'2026-01-04T00:16:02.763' AS DateTime), CAST(N'2026-01-04T00:17:37.177' AS DateTime), N'bla bla bal')
INSERT [dbo].[bookings] ([id], [service_id], [room_id], [pet_id], [createTime], [endTime], [note]) VALUES (13, 1, 12, 10, CAST(N'2026-01-04T00:19:10.833' AS DateTime), CAST(N'2026-01-04T00:23:38.230' AS DateTime), N'blalal')
INSERT [dbo].[bookings] ([id], [service_id], [room_id], [pet_id], [createTime], [endTime], [note]) VALUES (14, 3, 9, 13, CAST(N'2026-01-04T00:48:14.497' AS DateTime), CAST(N'2026-01-04T00:50:46.680' AS DateTime), N'dai dai di')
SET IDENTITY_INSERT [dbo].[bookings] OFF
GO

-- Invoices
SET IDENTITY_INSERT [dbo].[invoices] ON 
INSERT [dbo].[invoices] ([id], [booking_id], [total]) VALUES (9, 12, 580000)
INSERT [dbo].[invoices] ([id], [booking_id], [total]) VALUES (10, 13, 390000)
INSERT [dbo].[invoices] ([id], [booking_id], [total]) VALUES (11, 14, 580000)
SET IDENTITY_INSERT [dbo].[invoices] OFF
GO

-- 4. TẠO RÀNG BUỘC (CONSTRAINTS / FOREIGN KEYS)

-- FK Bookings
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_PET_TICKET] FOREIGN KEY([pet_id])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK_PET_TICKET]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [room_fk] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [room_fk]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [service_fk] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [service_fk]
GO

-- FK Invoices
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_TICKET] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_INVOICE_TICKET]
GO

-- FK Pets
ALTER TABLE [dbo].[pets]  WITH CHECK ADD  CONSTRAINT [FK_pet_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[pets] CHECK CONSTRAINT [FK_pet_customer]
GO